/*disse er for alle siderne */
body {
    width: 65%;
    margin: 0 auto;
    background-image: url(/images/bellis-baggrund-billede.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.index {
    background-color: rgb(245, 254, 255);
    padding: 1rem;
    border: 1px solid black;
    margin-top: 1rem;
    margin-bottom: 0rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.index a {
    text-decoration: none;
}

li {
    border: 1px solid black;
    border-radius: 20px 20px 20px 20px;
    list-style-type: none;
    text-align: center;
}
.menu {
    font-family: "Roboto Flex Normal";
    font-weight: bold;
    font-size: 16px;
    color: #060606;
    text-decoration: none;
}
.menu-1 {
    background-color: rgb(249, 210, 210);
}
.menu-2 {
    background-color: rgb(249, 249, 210);
}
.menu-3 {
    background-color: rgb(210, 249, 210);
}.menu-4 {
    background-color:rgb(210, 239, 249);
}
.menu-5 {
    background-color: rgb(249, 210, 249);
}
.alm-billede {
    max-width: 100%;
    width: auto;
}
img {
    max-width: 100%;
}
.photo-by {
    text-align: bottom;
}
.footer {
    background-color: gray;
    margin-top: 1rem;
}
.footer-p {
    text-align: center;
}


/*Disse er for forsiden */
.forside-info {
    background-color: rgb(245, 254, 255);
    padding: 1rem;
    border: 1px solid black;
    margin-top: 0rem;
    margin-bottom: 1rem;
}
.forside-info {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}
.forside-top-h1 {
    grid-column: span 2;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}
.forside-top-p {
    grid-column: span 2;
    text-align: center;
}
.stort-billede {
    max-width: 100%;
    border: 2px solid black;
    grid-column: span 2;
}
.hobby-forside-billede {
    max-width: 100%;
    border: 2px solid black;
}
.forside-knap {
    font-family: "Roboto Flex Normal";
    color: #060606;
    list-style-type: none;
    text-decoration: none;
    justify-content: center;
}
.forside-knap a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    padding: 0rem;
}
.cv-forside-billede {
    max-width: 100%;
    border: 2px solid black;
}
.visitkort-forside-billede {
    max-width: 100%;
    border: 2px solid black;
}
.portfolio-forside-billede {
    max-width: 100%;
    border: 2px solid black;
}
.photo-by-v {
    font-size: 0.6rem;
    text-align: left;
}
.photo-by-h {
    font-size: 0.6rem;
    text-align: right;
}
.forside-tekst-2 {
        flex-grow: 1;
}
.info-boks {
    display: flex;
    flex-direction: column;
}
.forside-h2 {
    font-size: 24px;
}



/*Disse er for hobby siden */
.hobby-side {
    background-color: rgb(245, 254, 255);
    padding: 1rem;
    border: 1px solid black;
    margin-top: 0rem;
    margin-bottom: 1rem;
}
.hobby-side {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}
.hobby-top-h1 {
    grid-column: span 2;
    text-align: center;
}
.hobby-top-p {
    grid-column: span 2;
    text-align: center;
}
.the-imitation-game-billede {
    max-width: 100%;
    width: 100%;
    border: 2px solid black;
}
.minecraft-billede {
    max-width: 100%;
    width: 100%;
    border: 2px solid black;
}
.billede-af-kamera {
    max-width: 100%;
    width: 100%;
    border: 2px solid black;
}
.hobby-fotografering {
    display: flex;
    flex-direction: column;
}
.hobby-2-info {
    flex-grow: 1;
}



/*Disse er for CV siden */
.cv-side {
    background-color: rgb(245, 254, 255);
    padding: 1rem;
    border: 1px solid black;
    margin-top: 0rem;
    margin-bottom: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}
.nathalie-profilbillede-cv-side {
    max-width: 100%;
    width: 50%;
}
.cv-side-h1 {
    grid-column: span 2;
}
.cv-side-h2 {
    background-color: powderblue;
    grid-column: span 2;
    max-width: 100%;
}
.cv-side-min-info {
    grid-column: span 2;
}
.cv-side-om-mig {
    grid-column: span 2;
}
.cv-side-h4 {
    text-align: center;
}
.cv-side-nathalie-info {
    text-align: center;
}
.cv-side-h1 {
    text-align: center;
    max-width: 100%;
}
.cv-side-h2 {
    text-align: center;
    max-width: 100%;
}
table, th, td {
    border: 1px solid black;
  }
.table {
    padding: 1rem;
    border: 1px solid black;
}
td {
    padding: 0.5rem;
}
.cv-side-info {
    grid-column: span 2;
}
.cv-side-table {
    grid-column: span 2;
}


/*Dette er for visitkort siden */
.card {
    border: 15px outset;
    margin: 5rem auto 0 auto;
    background-color: rgb(221, 250, 254);
    border: 2px solid black;
    width: 450px;
    padding: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 2fr 1fr;
}
.card-side-h1 {
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
    margin-top: 0.5rem;
}
.card-side-img {
    max-width: 100%;
    border-radius: 100%;
}
.card.side.h3 {
    margin-bottom: 0.5rem;
}
.card-side-p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
