:root {
    /*color*/
    --background-color: #EEF6EE;
    --backgroundHeader-color: #F9E6D8;
    --backgroundProfile-color: #D9CFFD;
    --font-color: black;

    /*text*/
    /*
    --fontSizeXSmall: calc(var(--fontSizeMedium)/2);
    --fontSizeSmall: calc(var(--fontSizeMedium)/1.5);
    */
    --fontSizeMedium: 1rem;
    --fontSizeLarge: calc(var(--fontSizeMedium)*1.5);
    --fontSizeXLarge: calc(var(--fontSizeMedium)*2);
    --font-family: 'NSimSum', 'Times New Roman', Times, serif;

    /*spacing*/
    --spaceXSmall: calc(var(--fontSizeMedium)/2);
    --spaceSmall: calc(var(--fontSizeMedium)/1.5);
    --spaceMedium: 1rem;
    --spaceLarge: calc(var(--fontSizeMedium)*1.5);
    --spaceXLarge: calc(var(--fontSizeMedium)*2);
}


body {
    background-color: var(--background-color);
    font-family: var(--font-family);
}
header {
    background-color: var(--backgroundHeader-color);
    margin: 0rem;
    padding: 0rem;
}
footer {
    background-color: var(--backgroundHeader-color);
}
.navbar {
    list-style: none;
}



/*  ---- portfolio ----  */
.firstSemester {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.firstSemester__header {
    grid-column: span 2;
}
.portfolio {
    padding: .5rem;
    margin: .5rem;
    border: solid gray 1px;
    border-radius: 15px;
}
.portfolio__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    margin-bottom: 0rem;
    border-radius: 10%;
    border: solid black 1px;
}
.portfolio__header {
    margin-top: 0rem;
    margin-bottom: 0rem;
}
.portfolio__text {
    margin-top: 0rem;
}